<!DOCTYPE html>
<html lang="br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://cdn.bavabank.com">

    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.bavabank.com/vendors/c33312e6-5206-4958-9dea-2b711ec415e5/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://cdn.bavabank.com/vendors/c33312e6-5206-4958-9dea-2b711ec415e5/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.bavabank.com/vendors/c33312e6-5206-4958-9dea-2b711ec415e5/favicon-16x16.png">

    <meta charset="utf-8" />
    <meta name="robots" content="none" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
    <link rel="stylesheet" href="<%=REACT_APP_URL%>/css/main.css" />
    <title>Bava</title>
  </head>
  <body>
    <div class="root-container" id="root">
      <div class="loader"></div>
    </div>
  </body>
</html>
